/*body {
	margin: 40px 10px;
	padding: 0;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	font-size: 14px;
}*/

#calendar {
  width: 100%;
  margin: 10px auto;
  height: auto;
}

.visualizar{
	display: block;
}

.form{
	display: none;
}
